body {
    background-color: #F2F3F7;
}

.card_wrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 50%;
    width: 95%;
    margin: 0px auto;
    border-radius: 5px;
}

.first_row,
.second_row {
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: 0px auto;
    border-bottom: 1px solid #E2E2E3;
    padding-top: 1rem;
}

#name {
    color: #404553;
    font-weight: bolder;
    font-size: 1rem;
}

#call {
    color: #404553;
}

#price {
    color: #557BE6;
}

#estimates {
    color: #404553;
    font-size: 1rem;
    font-weight: bolder;
}

.third_row {
    padding-top: 1rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
    margin: 0px auto;
    border-bottom: 1px solid #E2E2E3;
}

#date_row {
    display: flex;
    padding-top: 0.8rem;

}

#date_and_time {
    padding-left: 1.2rem;
    padding-top: 1rem;
    color: #404553;
    font-weight: bold;
    vertical-align: text-bottom;
}

#job_label {
    color: #9395A2;
}

h3 {
    color: #404553;
    text-align: center;
}